{% extends 'app_download/base.html' %}

{% block title %}Truong Ho Thanh Cong Site{% endblock title %}

{% block sidebar %}

{% endblock sidebar %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of four columns
            </div>
        </div>
    </div>
{% endblock content %}